
/* .top{
    color: white;
    width: 96%;
    height: 500px;
    background-image: url(dine.jpg);
    background-image: cover;
}
h3{
    padding-right: 200px;
    text-align: center;
    font-size: 70px;
}
h5{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border: 2px solid white;
} */
body{
    font-family: arial;
}

/* WEBSITE HEADING */

.head{
    position: relative;

}
.wrapper{
    width: 100%;
    max-width: 80%;
    padding: 0 10px;
    margin: 0 auto;
}
.top{
    top:50px;
    color: white;
    position: absolute;
    font-size: 20px;
}
.top h3{
    font-size:60px;
    padding-bottom: 160px;
}
.top h1{
    font-size: 90px;
    font-weight: 100;
    max-width: 60%;
    padding: 0 auto;
    line-height: 80px
}
.top p{
    font-weight: 100;
    max-width: 40%;
    padding-bottom: 25px;
}

.top h5{
    font-size: 20px;
    font-weight: 100;
    max-width: 15%;
    border: 2px solid white;
    padding: 15px 5px 15px 20px;
    cursor: pointer;
}

/* FARM BLOCK */

.wrapper-2{
    display:flex;
    position: relative;
}
.farm{
    float: left;
    position: relative;
    top: -90px;
    box-shadow: 5px 0px 25px black;
}
#farm {
    float: right;
    position: absolute;
    top: 100px;
    left: 800px;
    max-width: 500px;
    
}
#farm h2{
    width: 100%;
    font-size: 60px
} 

#farm p{
    width: 100%;
    font-size: 30px
}

/* DISH BLOCK */

.wrapper-3{
    display:flex;
    position: relative;
}
.dish{
    float: right;
    position: relative;
    top: 70px;
    left: 100px;
    box-shadow: 5px 0px 25px white;
}
#dish {
    /* float: left; */
    position: relative;
    top: 250px;
    max-width: 500px;
    /* left: 200px; */
}
#dish h2{
    width: 100%;
    font-size: 60px
} 

#dish p{
    width: 100%;
    font-size: 30px
}

/* FOOD MENU */

.menu{
    background-color: black;
    height: 1000px;
}

.menu-contain{
    color: white;
    position: relative;
    top: 350px;
} 
#menu{
    float: left;
    max-width: 500px;
}

#menu h1{
    width: 105%;
    font-size: 60px;

} 
#menu p{
    width: 100%;
    font-size: 25px;

} 
#menu-img{
    display: flex; 
    flex-direction: column;
    /* justify-content: flex-end; */
    position: relative;
}
#menu-img h2{
    float: right;
}
#menu-img p{
    float: right;
    width: 20%;
}

#menu-img1{
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    
}
#menu-img2{
    border-bottom: 1px solid white;
    padding: 20px 0;
}

#menu-img3{
    padding: 20px 0;
} 
.wrapper-4{
    display:flex;
    position: relative;
}

/* FAMILY CONTENT SECTION */

.family{
    float: left;
    position: relative;
    top: 110px;
    box-shadow: 0px 0px 25px black;
}
#family {
    float: right;
    position: absolute;
    top: 150px;
    left: 800px;
    max-width: 500px;
}

#family h2{
    width: 100%;
    font-size: 60px
} 

#family p{
    width: 100%;
    font-size: 30px
}
#family h3{
    width: 50%;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 25px 20px 25px 50px;
    cursor: pointer;
} 
#family-1{
    font-size: 25px;
    position: relative;
    top: 100px;
    cursor: pointer;

}
#family p:after{
    content: "";
    clear: both;
    display: block;
}

/* BLOCK BEFORE FOOTER */

.last-img {
    /* background-color: black; */
    background-image: url(dish1.jpg);
    background-position: center;
    height: 300px;
    position: relative;
    top: 300px;
}

.last-img h1{
    color: white;
    width: 60%;
    font-size: 70px;
    position: relative;
    top: 100px;
}
.last-img h4{
    color: white;
    width: 20%;
    font-size: 30px;
    position: relative;
    float: right;
    border: 2px solid white;
    padding: 10px;
    top: -90px;
    cursor: pointer;
}

/* FOOTER */
footer{
    background: black;
    margin-top: 100px;
    padding: 30px 0;
    position: relative;
    top: 200px;
    
}

footer:after{
    content: "";
    display: block;
    clear: both;
}

footer ul{
    float: left;
    padding: 0;
    list-style-type: none;
    color: #eee;
    width: 23%;
    margin-right: 2%;
    align-content: center;
}
footer ul li h1{
    align-content: center;
    font-size: 50px;
}

footer li{
    margin: 10px 0;
}

/* img{
    box-shadow: 10px 10px 5px grey;
} */
